@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;700&family=Poppins:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;700&family=Poppins:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;700&family=Poppins:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;700&family=Poppins:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;700&family=Poppins:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
:root {
  --poppins: 'Poppins', sans-serif;
  --oswald: 'Oswald', sans-serif; }

header {
  width: 100%;
  box-shadow: 0 0 3px #ffd700, 0 0 5px #ffd700;
  height: 90px;
  background-color: rgba(0, 0, 0, 0.5); }
  @media (max-width: 576px) {
    header {
      height: auto; } }
  header nav {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center; }
    header nav div {
      font-family: var(--poppins);
      position: relative;
      font-size: 24px;
      margin: 20px 50px;
      color: #fff; }
      @media (max-width: 576px) {
        header nav div {
          margin: 20px 20px;
          font-size: 16px; } }
      header nav div:before {
        background-color: #292a2d;
        position: absolute;
        display: inline-block;
        border-radius: 10px;
        width: 0%;
        height: 2px;
        content: "";
        bottom: 0;
        transition: 0.5s;
        box-shadow: 0 0 3px #ffd700, 0 0 5px #ffd700; }
      header nav div:hover {
        cursor: pointer; }
        header nav div:hover:before {
          width: 100%; }
    header nav .active:before {
      width: 100%; }

:root {
  --poppins: 'Poppins', sans-serif;
  --oswald: 'Oswald', sans-serif; }

.home .container {
  display: inline-block; }
.home .col-12 {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .home .col-12 .texts {
    max-width: 400px;
    padding-bottom: 10px; }

:root {
  --poppins: 'Poppins', sans-serif;
  --oswald: 'Oswald', sans-serif; }

footer {
  font-family: var(--poppins);
  color: #fff;
  font-size: 18px;
  letter-spacing: 2px;
  width: 100%;
  box-shadow: 0 0 3px #ffd700, 0 0 5px #ffd700;
  padding: 10px 20px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5); }

:root {
  --poppins: 'Poppins', sans-serif;
  --oswald: 'Oswald', sans-serif; }

.cards_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  @media (max-width: 767px) {
    .cards_container {
      justify-content: space-around; } }

@media (max-width: 767px) {
  .container {
    width: 100%;
    max-width: 100%; } }

.texts {
  max-width: 400px;
  padding: 30px 0; }

img {
  max-height: 200px;
  align-self: center; }

.col-md-4 {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 3px #ffd700, 0 0 5px #ffd700;
  width: 32%;
  margin-bottom: 25px;
  padding: 30px 30px 0 30px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  transition: .3s; }
  @media (max-width: 991px) {
    .col-md-4 {
      width: 49%; } }
  @media (max-width: 767px) {
    .col-md-4 {
      width: 47%; } }
  @media (max-width: 576px) {
    .col-md-4 {
      width: 90vw; } }
  .col-md-4:hover {
    box-shadow: 0 0 15px #ffd700, 0 0 15px #ffd700; }
  .col-md-4 p {
    font-size: 18px;
    font-family: var(--poppins); }
  .col-md-4 h3 {
    font-family: var(--oswald);
    color: #fff; }
    .col-md-4 h3 span {
      text-shadow: 0 0 3px #ffd700, 0 0 5px #ffd700;
      color: #333; }

:root {
  --poppins: 'Poppins', sans-serif;
  --oswald: 'Oswald', sans-serif; }

.contact .col-12 {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center; }
.contact .cards_container {
  flex-direction: column;
  align-items: flex-start;
  box-shadow: 0 0 3px #ffd700, 0 0 5px #ffd700;
  padding: 30px;
  margin-bottom: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px; }
  @media (max-width: 576px) {
    .contact .cards_container {
      width: 90vw; } }
  .contact .cards_container p {
    font-family: var(--poppins); }
    @media (max-width: 576px) {
      .contact .cards_container p span {
        font-size: 18px; } }

* {
  box-sizing: border-box; }

body {
  margin: 0;
  overflow-x: hidden;
  background-color: #292a2d;
  background-image: url("../dist/imgs/background.jpg"); }

#content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow-x: hidden; }

.title {
  font-family: var(--oswald);
  color: #fff;
  font-size: 92px;
  margin-bottom: -10px; }
  @media (max-width: 576px) {
    .title {
      font-size: 52px;
      text-align: center; } }

.subtitle {
  font-size: 52px;
  font-family: var(--poppins);
  color: #333333;
  text-align: right;
  transform: rotate(-10deg);
  text-shadow: 0 0 3px #ffd700, 0 0 5px #ffd700; }
  @media (max-width: 576px) {
    .subtitle {
      font-size: 32px; } }

p {
  font-size: 24px;
  font-family: var(--poppins);
  color: #fff; }
  @media (max-width: 576px) {
    p {
      font-size: 16px; } }
  p span {
    font-size: 32px;
    text-shadow: 0 0 3px #ffd700, 0 0 5px #ffd700;
    color: #333;
    font-family: var(--oswald); }

button {
  font-size: 28px;
  font-family: var(--oswald);
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  box-shadow: 0 0 3px #ffd700, 0 0 5px #ffd700;
  border-radius: 5px;
  padding: 10px 30px;
  margin: 20px 0;
  transition: .5s; }
  @media (max-width: 576px) {
    button {
      font-size: 20px;
      padding: 10px 15px;
      margin-top: 0; } }
  button:hover {
    background-color: #ffd700;
    color: #333; }

.col-12, .col-6 {
  flex: 0 0 auto !important; }

/*# sourceMappingURL=main.css.map */
